@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --primary-color: #2c3855;
  --primary-color-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --hover-bg-color: #e0e0e0;
  --active-bg-color: #d1d1d1;
  --dropdown-bg: #ffffff;
  --background-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

.booking__container1 {

    width: calc(100% - 6rem);
    height: 150px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .booking__container1 form {
    width: 100%;
    flex: 1;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap:3rem;
    align-items: flex-start;
    justify-content: center;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
 */
  
  .booking__container input,
  .booking__container select {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
    appearance: none;
    -webkit-appearance: none;
  }
  
  .booking__container input:focus ~ label,
  .booking__container select:focus ~ label,
  .booking__container input:not(:placeholder-shown) ~ label,
  .booking__container select:not([value=""]) ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }
  
  .booking__container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: #9ca7c1;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking__container .btn:hover {
    background-color: var(--primary-color-dark);
  }
  