.newCourt {
    display: flex;
    
  }
  .aaaaaa{
    display: flex;
    justify-content: space-between;
  }
  .newCourtContainer {
    flex: 1;
    padding: 20px;
  }
  .imageUpload img{
    height: 50%;
    width: 50%;
  }
  .newCourtHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .newCourtHeader h3 {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  .newCourtFormRow {
    display: flex;
    justify-content: space-between;
  }
  
  .newCourtFormColumn {
    flex: 1;
    margin-right: 20px;
  }
  
  .newCourtFormColumn:last-child {
    margin-right: 0;
  }
  
  .newCourtFormButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .newCourtFormButton {
    margin: 0 10px;
  }
  
  .colum{
    display: inline-table;
    width: 50%;
    padding: 10px;
  }
  .formSection {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0 ;
    border-radius: 8px;
  }
  
  .top-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 10px;
  }
  
  .top-right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;

  }
  
  .bottom-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;

  }
  
  .bottom-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;

  }
  